/Spring Applications/Clase_1/nbproject/private/
/Spring Applications/Clase_1/build/
/Spring Applications/Clase_2/nbproject/private/
/Spring Applications/Clase_2/build/
/Spring Applications/Clase_2/dist/
/Spring Applications/Spring_3/nbproject/private/
/Spring Applications/Spring_3/build/
/Spring Applications/Spring_4/nbproject/private/
/Spring Applications/Spring_4/build/
JavaAplicaciones/Spring/ApplicationSpringMVC/
JavaAplicaciones/ConexionBD2/
/Spring Applications/Taller_Spring_5/nbproject/private/
/Spring Applications/Taller_Spring_5/build/
/Spring Applications/Taller_Spring_6/nbproject/private/
/Spring Applications/Taller_Spring_6/build/
/Spring Applications/Taller_Spring_7/nbproject/private/
/Spring Applications/Taller_Spring_7/build/
/Curso jQuery/AppJquery/nbproject/private/
/Curso jQuery/WebApplication1/nbproject/private/
/Curso jQuery/WebApplication1/build/
/Curso jQuery/WebApplication1/dist/
/Curso jQuery VScode/nbproject/private/
/Curso jQuery VScode/build/
/Curso jQuery NetBeans/nbproject/private/
/Curso jQuery NetBeans/build/
/CursoJQuery_Netbenas/nbproject/private/
/CursoJQuery_Netbenas/build/
/CursoJQuery_Netbenas/dist/
/CursoAngularJS/nbproject/private/
/CursoAngularJS/build/
/ClinicaDASERVA/nbproject/private/
/ClinicaDASERVA/build/
/ClinicaDASERVA/dist/
/EvaluacionJava/nbproject/private/
/EvaluacionJava/build/
/EvaluacionJavaEJB/nbproject/private/
/DASERVA/DASERVA/target/