/Spring Applications/Clase_1/nbproject/private/
/Spring Applications/Clase_1/build/
/Spring Applications/Clase_2/nbproject/private/
/Spring Applications/Clase_2/build/
/Spring Applications/Clase_2/dist/
/Spring Applications/Spring_3/nbproject/private/
/Spring Applications/Spring_3/build/
/Spring Applications/Spring_4/nbproject/private/
/Spring Applications/Spring_4/build/
JavaAplicaciones/Spring/ApplicationSpringMVC/
JavaAplicaciones/ConexionBD2/
/Spring Applications/Taller_Spring_5/nbproject/private/
/Spring Applications/Taller_Spring_5/build/
/Spring Applications/Taller_Spring_6/nbproject/private/
/Spring Applications/Taller_Spring_6/build/
/Spring Applications/Taller_Spring_7/nbproject/private/
/Spring Applications/Taller_Spring_7/build/