
<html ng-app="adwapp">
    <head>
        <title>Apply Digest Watch</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/estilos.css"/>
        
    </head>
    <body ng-controller="adwcontroller">
        
        <h1>{{nombre}}</h1>
        
        <button id="mi-boton">Haz Click Aqui</button>
        
        
        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/jquery.easing.1.3.js"></script>
        <script src="../../js/angular.js"></script>
        <script src="../../js/angular-local-storage.min.js"></script>
        <script src="../../js/adw.js"></script>
    </body>
</html>